* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(248,255,255);
background: radial-gradient(circle, rgba(248,255,255,1) 0%, rgba(223,231,240,1) 100%);
}

.navbar-brand img {
    width: 1.8rem;
}

.carousel-inner {
    height: 30rem;
}

.d-flex img {
    width: 5rem;

}

.d-flex {
    width: 80%;
    display: flex;
    text-align: center;
    margin: 3rem 5rem 2rem 10rem;
    align-items: center;
    justify-content: center;

}

.itens {
    display: flex;
    gap: 2.5rem;
    width: 100%;
    justify-content: center;
    margin-bottom: 3rem;
}

.card img {
    width: 100%;
    height: 50%;
}

.title-form {
    font-size: 2rem;
    font-weight: bold;
}

.formulario {
    display: flex;
}

.div-form-title {
    
}

.form-nome,
.form-email,
.form-telefone,
.form-obs,
.form-info {
    
}